# World Cup  Biathlon

In [1]:
import pandas as pd
import datetime as dt

In [14]:
wcb = pd.read_csv('wcb.csv')

In [15]:
wcb.columns=[
    'site',
    'country',
    'competition',
    'disciplin_type',
    'start_time',
    'location',
    'start_mode',
    'name',
    'result_order',
    'total_time',
    'gap',
    'start_order',
    'shooting_total',
    'shootings']

In [19]:
wcb.describe()

       location  start_mode   result_order    start_order
count       0.0         0.0  145073.000000  145073.000000
mean        NaN         NaN     377.021872      44.925892
std         NaN         NaN    1818.746941      29.930774
min         NaN         NaN       1.000000       1.000000
25%         NaN         NaN      11.000000      20.000000
50%         NaN         NaN      26.000000      41.000000
75%         NaN         NaN      56.000000      66.000000
max         NaN         NaN   10131.000000     150.000000

In [24]:
wcb['result_order'].value_counts()

1        3575
2        3563
3        3547
4        3511
5        3505
         ...
10117       1
10127       1
144         1
10116       1
10128       1
Name: result_order, Length: 271, dtype: int64